.category{
    display: flex;
    align-items: center;
    height: 65px;
    background: #FFF;
    &__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
    }
    &__link{
        padding: 13px 25px;
        font-size: 14px;
        color: #768088;
        font-family: Lora-Regular;
        transition: all .5s;
    }
    &__link:hover{
        background: #DD783F;
        color: #FFF;
    }
}
@media (max-width: 768px){
    .category{
        height: 100%;
        &__wrapper{
            margin-top: 5px;
            grid-template-columns: 1fr 1fr 1fr;
        }
       
    } 
}
@media (max-width: 374px){
    .category{
        &__wrapper{
            grid-template-columns: 1fr 1fr;
        }
       
    } 
}
@media (max-width: 290px){
    .hero{
        &__title{
            font-size: 30px;
        }
        &__desc{
            font-size: 12px;
        }
    }
    .category{
        &__wrapper{
            grid-template-columns: 1fr;
        }
       
    } 
}
